extends ../layout

block content
    .row
        .col-sm-8
            h1 Admin Dashboard
            h1=title
        .col-sm-4
            a(href="/products/add", class="btn btn-success float-right") Add New Product
    table.table
        thead
            tr
                th Product Image
                th Product Name
                th Product Category
                th Product Price(Rs)
                th Product Details
                th Actions
        tbody
            each product in products
                tr
                    td=product.prImage
                    td=product.prName
                    td=product.prCategory
                    td=product.prPrice
                    td=product.prDetails
                    td
                        a(href="/products/delete/"+product._id, class="btn btn-danger") Delete
                        a(href="/products/edit/"+product._id, class="btn btn-warning") Edit